<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/index.css">
</head>
<body>

	<div class="container border">
		<div class="row mt-5">
			<div class="col-sm-2">
				<img src="/static/image/myself.jpg" class="img-thumbnail rounded-circle">
			</div>
			<div class="col-md-8">
				<h1>Shubhangi Chaudhari</h1>
				<h3>Python Developer</h3>
			</div>
		</div>
	<hr>
     <div class="row">
		 <div class="col-sm-12">
		     <h2>Skills</h2>
			 <div class="d-inline-flex">
			      <div class="col-sm-6">
		            <ul>
			          <li>HTML</li>
				      <li>CSS</li>
			          <li>JavaScript</li>
			          <li>Bootstrap</li>
		            </ul>
			      </div>
			      <div class="col-sm-6 ml-5">
			        <ul>
			          <li>Python</li>
			          <li>ReactJS</li>
			          <li>Angular</li>
		            </ul>
			      </div>
			 </div>
		</div>
     </div>
		<hr>

		<h2>Experience</h2>
		<h4>Web Developer - The BAAP Company</h4>
		<p><b>January 2021 - Present</b></p>
		<ul>
			<li>Software Developing</li>
			<li>Developed and maintained web applications using HTML, CSS, JavaScript</li>
			<li>Designed and implemented user interfaces using Bootstrap and ReactJS.</li>
		</ul>

		<hr>

		<h2>Education</h2>
		<h4>Bachelor of Technology in Computer Science - North Maharashtra University,Jalgaon</h4>
		<p><b>2017-2020</b></p>
		<ul>
			<li>Graduated with honors</li>
			<li>Developed a web-based project as part of final year project</li>
		</ul>

		<hr>

		<h2>References</h2>
		<ol>
			<li>Mr. Raosaheb Ghughe- CEO, The BAAP Company</li>
			<li>Miss. Neha Padwal - Manager, The BAAP Company</li>
		</ol>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
