<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/resume.css">
</head>
<body>
<div class="container border border-5 border-dark">
		<div class="row ">
			<div class="col-sm-4 bg-secondary pt-5 text-light text-center">
				<img src="/static/image/myself.jpg" class="img-thumbnail rounded-circle w-50 mb-3 ">
				<h3>Contact</h3>
				<p><i class="fa-solid fa-location-dot"></i> Jalgaon Maharashtra <br> 425001</p>
				<p><i class="fa-solid fa-phone"></i> +91 907 5291 628</p>
				<p><i class="fa-sharp fa-solid fa-envelope"></i>  chaudharishubhangi99@gmail.com</p>
				  <div class="ref">
				      <h4>REFERENCES</h4>
					  <h5>The BAAP Company</h5>
					  <p><i class="fa-solid fa-phone"></i> +91 868 9988 686</p>
					  <p><i class="fa-sharp fa-solid fa-envelope"></i>  rao@baapcompany.gmail.com</p>
			      </div>
			</div>
			<div class="col-md-8">
				<div class="mt-5 ml-2">
					<div>
				         <h4><b>Shubhangi Chaudhari</b></h4>
				         <h5>Python Developer</h5>
				    </div>
					<div class="mt-5">
					     <h4 class="bg-secondary"><b><i class="fa-sharp fa-solid fa-briefcase"></i>  WORK EXPERIENCE</b></h4>
						 <h5 class="mt-4">2021-2022  The BAAP Company</h5>
						   <div class="ml-5 pl-5">
						       <ul>
			                      <li>Software Developing</li>
			                      <li>Developed and maintained web applications using HTML, CSS, JavaScript</li>
			                      <li>Designed and implemented user interfaces using Bootstrap and ReactJS.</li>
							   </ul>
						   </div>
						   <h5>2023-Present  AIT</h5>
						   <div class="ml-5 pl-5">
						       <ul>
			                      <li>Python</li>
			                      <li>Django Rest Framework</li>
			                      <li>Flask API</li>
								  <li>Mysql Database,AWS</li>
							   </ul>
						   </div>
					</div>
					<div class="mt-5">
					     <h4 class="bg-secondary"><b><i class="fa-solid fa-graduation-cap"></i>  EDUCATION</b></h4>
						 <h5 class="mt-4">2017-2020  North Maharashtra University,Jalgaon</h5>
						   <div class="ml-5 pl-5">
						       <ul>
			                      <li>Bachelor of Technology in Computer Science</li>
							   </ul>
						   </div>
						   <h5>2021-Present  Raisoni Institute , Jalgaon</h5>
						   <div class="ml-5 pl-5">
						       <ul>
			                      <li>MBA in Human Resource</li>
							   </ul>
						   </div>
					</div>
					<div class="mt-5">
					    <h4 class="bg-secondary"><b><i class="fa-sharp fa-solid fa-screwdriver-wrench"></i>  SKILL & EXPERTISE</b></h4>
						<div class="row mt-5">
							<div class="col-sm-6">
								<div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:90%">
									  90% Complete (success)
                                  </div>
                              </div>
								<p>Python </p>
							  <div class="progress">
                                 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                      aria-valuemin="0" aria-valuemax="100" style="width:60%">
									 60% Complete (success)
								 </div>
                              </div>
								<p>NodeJs</p>
							  <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                     aria-valuemin="0" aria-valuemax="100" style="width:60%">
									60% Complete (success)
   								</div>
							  </div>
								<p>REACTJS </p>
						   	  <div class="progress">
  								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
  										aria-valuemin="0" aria-valuemax="100" style="width:45%">
									45% Complete (success)
  								</div>
							  </div>
								<p>Django </p>
							</div>
							<div class="col-sm-6">
                            <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
									  50% Complete (success)
                                  </div>
							</div>
								<p>Flask</p>
							<div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
									   aria-valuemin="0" aria-valuemax="100" style="width:45%">
									  45% Complete (success)
                                 </div>
							</div>
								<p>AWS </p>
							<div class="progress">
                                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                          aria-valuemin="0" aria-valuemax="100" style="width:65%">
										  65% Complete (success)
                                      </div>
                            </div>
								<p>MySQL </p>
							<div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                       aria-valuemin="0" aria-valuemax="100" style="width:100%">
										100% Complete (success)
                                    </div>
                            </div>
								<p>HTML & CSS</p>

						</div>
					</div>
				</div>
			</div>
		</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>